.photo-profile {
    background-size: cover;
    background-position: center;
    border-radius: 9999px;
    width: 240px;
    height: 240px;
}

.struktur-card {
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #222529;
}

.struktur-card>div:first-child {
    font-weight: bold;
}

.struktur-card>div:last-child {
    font-size: 14px;
}

.gap-2 {
    gap: 8px;
}

.btn-copy {
    cursor: pointer !important;
}

.size-screen {
    width: 100vw;
    height: 100vh;
}

.wrapper-form-kandidat {
    background-color: #e9ecef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next-page {
    position: fixed;
    top: 124px;
    right: 36px;
}

.card .heading {
    font-size: 24px;
    font-weight: 500;
    color: #475569;
}

.w-max {
    width: max-content;
}

.form-fit {
    width: 50vw;
}

.soal-wrapper {
    width: 40vw;
}

.filter {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    top: 28px;
    height: 20px;
    z-index: 20;
}